@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Набережные Челны<br />
   пр.Мира 1/18<br />
    <abbr title="Phone">P:</abbr>
    8.800.555.35.35
</address>

