
@model IEnumerable<LibraryApp.Models.Book>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3> </h3>
    <table>
        <tr class="header">
            <td><p>Название книги</p></td>
            <td><p>Автор</p></td>
            <td><p>Количество</p></td>
            <td></td>
        </tr>
        <!-- foreach(LibraryApp.Models.Book b in Model) -->
        @foreach(var b in ViewBag.Books)
        {
        <tr>
            <td><p>@b.Name</p></td>
            <td><p>@b.Author</p></td>
            <td><p>@b.Quantity</p></td>
            <td><p><a href="/Home/BookBookings/@b.Id">Забронировать</a></p></td>
        </tr>
        }
    </table>
</div>